header{
    width: 100%;
    background-color: #cdcdcd;
    padding: 10px 0;

}
.leftLogo{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

.rightSide{
    float: right
}