.mainTitle{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    font-size: 30px;
}
.secondTitle{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 25px;
}
.postBody p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
}