.mainTitle{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    font-size: 30px;
}

.titleNoPosts{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    text-align: center;
    color: #c40000;
}