.modalWindow{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hidden{
  display: none;
}

.modalWindow__inner{
  background-color: #fff;
  min-width: 300px;
  max-width: 400px;
  border-radius: 15px;
  padding: 20px;
}